@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  margin: 0;
  box-sizing: border-box;
  background: #fff;
  color: #222;
  line-height: 1.2;
  font-family: 'Taviraj', 'Merriweather', serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,*:after,*:before{box-sizing: inherit;}

*:focus {
  outline: 2px solid #000;
  outline-offset: 2px
}

select {
  font-size: 0.875em;
  min-width: 14rem;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0.25em 0;
}

h1{font-size: 1.75rem;}
h2{font-size: 1.5rem;}
h3{font-size: 1.325rem;}
h3{font-size: 1.25rem;}
h4{font-size: 1.125rem;}
h5{font-size: 1rem;}

hr {
  border: 0;
  // border-top: 1px solid #000;
  height: 1em;
  margin: 1em 0;
  background: url(../assets/images/horizontal_separator.png) repeat-x top left / contain;
}
