*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  @include serif;
  margin: 0;
  padding: 0;
  background: $white;
  color: $dark;
  line-height: 1.2;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

*:focus {
  outline: 2px solid $black;
  outline-offset: 2px;
}

select {
  min-width: 14rem;
  font-size: 0.875em;
}


h1, h2, h3, h4, h5, h6 {// sass-lint:disable-line single-line-per-selector
  margin: 0.25em 0;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.325rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

hr {
  height: 0.5rem;
  margin: 1vh 0;
  border: 0;
  background: url('../assets/images/horizontal_separator.png') repeat-x top left / contain;
}

.PageTitle,
.PageSubTitle {
  font-weight: normal;
  line-height: 1;
  text-align: center;
}

.PageTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5em;
  font-size: 0.875em;
  text-align: center;

  &::after,
  &::before {
    width: 24px;
    height: 24px;
    background: url('../assets/images/title_head.png') no-repeat center / contain;
    content: '';
    animation: balance 1.6s ease-in-out infinite;
  }
}

.PageSubTitle {
  margin: 0 0 1em;
  font-size: 0.75em;
}
