.button {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #222;
  margin: 5px;
  background-color: #fff;
  transform: skew(5deg);
  line-height: 1.2;
  &:hover {
    border-bottom-width: 3px;
    border-top-width: 1px;
    transform: skew(3deg);
  }
  &:active {
    border-top-width: 3px;
    border-bottom-width: 1px;
  }
}
button {
  @extend .button;
  -webkit-appearance: none;
}
