.button {
  display: inline-block;
  margin: 5px;
  transform: skew(5deg);
  border: 2px solid $dark;
  background-color: $white;
  line-height: 1.2;
  vertical-align: middle;

  &:hover {
    transform: skew(3deg);
    border-top-width: 1px;
    border-bottom-width: 3px;
  }

  &:active {
    border-top-width: 3px;
    border-bottom-width: 1px;
  }
}

button {
  @extend .button;
  appearance: none;
}
