.Inventory {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;
  max-width: 36rem;
  // max-height: 20rem;
  overflow: auto;
}
.Item {
  position: relative;
  display: block;
  text-align: left;
  padding: 3px 4px;
  margin: 2px;
  width: 70px;
  background: url('../assets/images/cursor.png') no-repeat top / contain;
  cursor: url('../assets/images/cursor_2.png'), auto;

  &:hover  {transform: scale(1.05);}
  &:active {
    transform: scale(0.8);
    mix-blend-mode: difference;
  }

  &__name {
    font-size: 0.75em;
    font-weight: bold;
  }

  &__picture {
    object-fit: cover;
    width: 97%;
  }

  &__count,
  &__price {
    position: absolute;
    top: -2%;
    right: -2%;
    margin: 0;
    padding: 0.1em 0.25em;
    background-color: #FFF;
    border: 2px solid #000;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10%;
    line-height: 1;
    font-size: 0.75em;
    font-weight: bold;
  }
  &__price {
    top: auto;
    right: 50%;
    bottom: -5%;
    transform: translateX(50%);
    font-size: 0.625em;
    white-space: nowrap;
  }
}

.Details {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#fff, 0.7);
  text-align: center;
  img {
    width: 50vw;
    height: auto;
    margin: 4vh auto;
  }
  &__content {
    margin: 6vh;
    background: #fff;
    padding: 2vh;
    border: 2px solid #000;
    animation: mapAppear 0.16s ease-out;
  }
}
