.Inventory {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -5px 1em;
  max-width: 36rem;
}
.Item {
  position: relative;
  display: block;
  text-align: center;
  padding: 6px;
  margin: 5px;
  width: 70px;
  height: 70px;
  background: url('../assets/images/cursor.png') no-repeat top / contain;

  &:hover  {transform: scale(1.05);}
  &:active {transform: scale(0.95);}

  &__name {
    font-size: 0.75em;
    font-weight: bold;
  }

  &__picture {
    font-size: 3rem;
    // margin-bottom: 1rem;
  }

  &__count {
    position: absolute;
    top: -2%;
    right: -2%;
    padding: 0.1em 0.25em;
    background-color: #FFF;
    border: 2px solid #000;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10%;
    line-height: 1;
    font-size: 0.75em;
    font-weight: bold;
  }
}
