.Inventory {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -5px 1em;
  max-width: 36rem;
}
.Item {
  position: relative;
  display: block;
  text-align: left;
  padding: 3px 4px;
  margin: 4px;
  width: 72px;
  height: 72px;
  background: url('../assets/images/cursor.png') no-repeat top / contain;
  cursor: url('../assets/images/cursor_2.png'), auto;

  &:hover  {transform: scale(1.05);}
  &:active {transform: scale(0.95);}

  &__name {
    font-size: 0.75em;
    font-weight: bold;
  }

  &__picture {
    object-fit: cover;
    width: 62px;
    height: 60px;
  }

  &__count,
  &__price {
    position: absolute;
    top: -2%;
    right: -2%;
    margin: 0;
    padding: 0.1em 0.25em;
    background-color: #FFF;
    border: 2px solid #000;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10%;
    line-height: 1;
    font-size: 0.75em;
    font-weight: bold;
  }
  &__price {
    top: auto;
    right: 50%;
    bottom: -5%;
    transform: translateX(50%);
    font-size: 0.625em;
    white-space: nowrap;
  }
}
