@mixin drawBorder($dir) {

  &:before {
    content:"";
    position: absolute;
    z-index: 1;
    height: 10px;
    right: 0;
    left: 0;
    background: url(../assets/images/horizontal_separator.png) repeat-x top left / auto 100%;
    mix-blend-mode: darken;

    @if ($dir == "bottom") {
      bottom: -15px;
    }
    @if ($dir == "top") {
      transform: rotateX(180deg);
      top: -2px;
    }
  }
}
