.Admin {
  padding: 2rem 2rem 5rem;
  height: 100vh;
  overflow: auto;
}
.picture {
  float: left;
  border: 2px solid #222;
  margin: 0 1em 1em 0;
}

.right {
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  border-left: 1px solid #000;
  padding: 1rem;
  margin-left: 1em;
}

.left {
  width: 60vw;
  float: left;
}

.highlight {
  background-color: tomato;
}

pre {
  padding: 2px;
  background: #222;
  color: #bbb;
}

label {
  display: inline-block;
  vertical-align: top;
  width: 10em;
}

input {
  width: 15em;
  font-size: 1em;
  padding: 0.125em 0.25em;
  margin-bottom: 0.5em;
  border: 1px solid #EEE;
  border-bottom-color: #555;

  &:focus {
    border-bottom-color: tomato;
  }
}

textarea {
  padding: 0.5rem;
}

hr {
  clear: both;
}

