// @import url('https://fonts.googleapis.com/css?family=Merriweather');


#app {
  $map-ratio: 1.5168;
  $map-width: 40vw;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: grid;
  padding: 10px;
  grid-gap: 10px;
  grid-template-columns: 300px $map-width 1fr;
  grid-template-rows: $map-width/$map-ratio 16vh 1fr;
  grid-template-areas:
    "profile table logs"
    "profile city logs"
    "profile place  buttons";
}

.buttons {
  grid-template-area: buttons;
}
.buttons button {
  display: inline-block;
  vertical-align: top;
  -webkit-appearance: none;
  border: 2px solid #222;
  margin: 5px;
  transform: skew(5deg);
}
.buttons button:hover {
  border-bottom-width: 3px;
  border-top-width: 1px;
  transform: skew(3deg);
}
.buttons button:active {
  border-top-width: 3px;
  border-bottom-width: 1px;
}
