.city {
  position: relative;
  padding: 0;
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  &:before {
    content:"";
    position: absolute;
    width: 15px;
    top: -10px;
    bottom: 0;
    left: -30px;
    background: #fff;
  }
  &:after {
    content:"";
    position: absolute;
    /*930x23*/
    height: 23px;
    bottom: -10px;
    right: -10px;
    left: -15px;
    background: url(../assets/images/horizontal_separator.png) repeat-x top left / contain;
  }
  .buildings {
    min-height: 14vh;
    background: url(../assets/images/city.png) no-repeat top center / contain;
  }
}
