.City {
  position: relative;
  padding: 0;
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  &__buildings {
    min-height: 13rem;
    background: url(../assets/images/city.png) no-repeat top center / contain;
    display: flex;
    justify-content: center;
  }
  &__building {
    flex: 0 0 20%;
    display: flex;
    align-items: flex-end;
  }
  &__store {
    // ..
  }
}
