.Enemy__list {
  margin-top: 2vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Enemy {
  position: relative;
  min-width: 78px;
  width: 24vw;
  max-width: 128px;
  padding: 0px 2vw 1vh;
  cursor: url('../assets/images/cursor_2.png'), auto;
  line-height: 1;
  text-align: center;
  font-family: "open-sans", sans-serif;
  transition: all 0.1s cubic-bezier(0,.8,.6,1);

  &:hover {
    transform: scale(1.02);
    transition: all 0.1s cubic-bezier(0,.8,.6,1);
  }

  &:active {
    transition: none;
    transform: scale(0.98)
  }

  &__label {
    font-size: 0.625em;
    font-weight: 600;
  }

  &__lifeLabel {
    display: none;
    font-size: 0.625em;
    font-weight: bold;
  }

  &__picture {

  }

  &__life {
    width: 66%;
    margin: 0 auto 2px;
    height: 5px;
    border: 1px solid #000;
    border-radius: 5px;
  }
}
