.Enemy__list {
  margin-top: 2vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.Enemy {
  position: relative;
  font-size: 10px;
  width: 21vw;
  height: 27vw;
  padding: 0.25em;
  margin: 1vw 2vw;
  cursor: url('../assets/images/cursor_2.png'), auto;
  line-height: 1;
  text-align: center;
  font-family: "open-sans", sans-serif;
  background: url('../assets/images/mob_bg.png') no-repeat center / contain;
  transition: all 0.1s cubic-bezier(0,.8,.6,1);

  &:hover {
    transform: scale(1.02);
    transition: all 0.1s cubic-bezier(0,.8,.6,1);
  }

  &:active {
    transition: none;
    transform: scale(0.98)
  }

  &__label {
    font-size: 0.625rem;
    font-weight: 600;
  }

  &__lifeLabel {
    display: none;
    font-size: 0.625rem;
    font-weight: bold;
  }

  &__picture {
    mix-blend-mode: darken;
  }

  &__life {
    width: 66%;
    margin: 0 auto 2px;
    height: 5px;
    border: 1px solid #000;
    border-radius: 5px;
  }
}
