@import "mixins";

.Game {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  padding: 0 0 3rem;
}

.Loader {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #fff;
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: calc(50% - 15px);
    left: calc(50% - 30px);
    height: 30px;
    width: 60px;
    background: url(../assets/images/doodle.png) no-repeat center / contain;
    animation: load 1.6s cubic-bezier(.68,-0.55,.27,1.55) infinite;
  }
}
.Content {
  position: relative;
  min-height: 70vh;
  padding-top: 1rem;
  @include drawBorder('top');
}
.Center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2.6rem;
  overflow: auto;
}
.MenuMobile {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.6rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  font-size: 0.75em;
  user-select: none;
  @include drawBorder('top');

  &__link {
    padding: 1em;
    flex: 1 0 auto;
    text-align: center;
    &:active,&:hover {
      background: #000;
      color: #FFF;
    }
  }
}

@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-10%) rotate(-3deg); }
  30% { transform: translateX(10%) rotate(2deg); }
  45% { transform: translateX(-7%) rotate(-2deg); }
  60% { transform: translateX(7%) rotate(1deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}

.Header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 4px;
  background-color: rgba(#FFF, 0.7);

  &__life {
    margin: 5px auto;
    height: 14px;
    max-width: 12em;
    border-radius: 14px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;

    &--wobble {
      animation: wobble 0.5s ease-out;
    }
  }

  &__lifeValue {
    mix-blend-mode: difference;
    color: #fff;
    font-size: 0.875em;
    vertical-align: top;
  }
}

.Login {
  padding: 4vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  h1 {
    margin-bottom: 10vh;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  input {
    border: 2px solid #000;
    margin-bottom: 0.5rem;
  }
  button {
    display: block;
    font-size: 1rem;
  }
}
