@import 'variables';

.Game {
  position: relative;
  width: 100vw;
  max-width: 900px;
  height: 100vh;
  margin: auto;
  padding: 0 0 3rem;
  overflow: hidden;
  // sass-lint:disable-all
  -webkit-tap-highlight-color: rgba(tomato, .5);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // sass-lint:enable-all
}

.Loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 2;

  &::after {
    display: block;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 30px);
    width: 60px;
    height: 30px;
    background: url('../assets/images/doodle.png') no-repeat center / contain;
    content: '';
    animation: load 1.6s cubic-bezier(.7, -0.7, .3, 1.5) infinite;
  }
}

.Content {
  @include draw-border('top');
  position: relative;
  min-height: 70vh;
  padding-top: 1rem;
}

.Center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 2.6rem;
  left: 0;
  overflow: auto;
}

.MenuMobile {
  @include draw-border('top');
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  height: 2.6rem;
  background-color: $white;
  font-size: 0.75em;
  z-index: 1;
  user-select: none;

  &__link {
    flex: 1 0 auto;
    padding: 1em;
    text-align: center;

    &:active {
      background: $black;
      color: $white;
    }
  }
}

.Header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logout {
    position: absolute;
    right: 2vw;
    top: 2vw;
    width: 2em;
    height: 2em;
    background: url('../assets/images/profile_settings.png') center / contain;
  }
}

.Login {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 4vh;

  h1 {
    margin-bottom: 10vh;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    margin-bottom: 0.5rem;
    border: 2px solid $black;
  }

  button {
    display: block;
    font-size: 1rem;
  }
}
