@import 'variables';

.Inventory--bottom {
  @include draw-border('top');

  position: relative;
  padding-top: 0.5em;

  .Item {
    padding: 5px 5px 0;
    background: url('../assets/images/item_bg.png') no-repeat top / contain;
  }
}

.Inventory--fixed {
  height: 72vh;
  padding-top: $headerHeight;
  overflow-y: auto;
}
