@import 'variables';

.ItemList {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start;
  max-width: 36rem;
  margin-top: 1rem;
  overflow: auto;
  background: url('../assets/images/empty_item.png') repeat top left / 25vw 25vw;
}

.Item {
  display: block;
  position: relative;
  width: 22vw;
  margin: 1vw;
  text-align: left;
  cursor: url('../assets/images/cursor_2.png'), auto;

  &:hover  {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.8);
    mix-blend-mode: difference;
  }

  &__name {
    font-size: 0.75em;
    font-weight: bold;
  }

  &__picture {
    width: 97%;
    object-fit: cover;
  }

  &__count,
  &__price {
    @include sans-serif;
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    min-width: 3em;
    padding: 0.35em 0.25em;
    text-align: center;
    background: url('../assets/images/tip.png') no-repeat left / contain;
    border-radius: 10%;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1;
  }

  &__price {
    white-space: nowrap;
    min-width: 4em;
  }
}

.Details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white-overlay;
  text-align: center;
  z-index: 100;

  img {
    width: 50vw;
    height: auto;
    margin: 4vh auto;
  }

  &__content {
    margin: 6vh;
    padding: 2vh;
    border: 2px solid $black;
    background: $white;
    animation: mapAppear 0.16s ease-out;
  }
}
