@import 'variables';

.ItemList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 36rem;
  margin-top: 1rem;
  padding: 2vw;
  overflow: auto;
}

.Item {
  display: block;
  position: relative;
  width: 22vw;
  margin: 1vw;
  text-align: left;
  cursor: url('../assets/images/cursor_2.png'), auto;

  &:hover  {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.8);
    mix-blend-mode: difference;
  }

  &__name {
    font-size: 0.75em;
    font-weight: bold;
  }

  &__picture {
    width: 97%;
    object-fit: cover;
  }

  &__count,
  &__price {
    @include sans-serif;
    position: absolute;
    top: -2%;
    right: -2%;
    margin: 0;
    padding: 0.1em 0.25em;
    border: 2px solid $black;
    border-radius: 10%;
    background-color: $white;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1;
  }

  &__price {
    top: auto;
    right: 50%;
    bottom: -5%;
    transform: translateX(50%);
    font-size: 0.625em;
    white-space: nowrap;
  }
}

.Details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white-overlay;
  text-align: center;
  z-index: 100;

  img {
    width: 50vw;
    height: auto;
    margin: 4vh auto;
  }

  &__content {
    margin: 6vh;
    padding: 2vh;
    border: 2px solid $black;
    background: $white;
    animation: mapAppear 0.16s ease-out;
  }
}
