.Place {
  position: relative;
  list-style: none;
  margin: 10px 10px 15vh;
  transform: translateZ(1px);

  &:before {
    content:"";
    position: absolute;
    /*930x23*/
    height: 23px;
    top: -20px;
    right: -10px;
    left: -15px;
    background: url(../assets/images/horizontal_separator.png) repeat-x top left / contain;
    transform: rotateX(180deg);
  }
}
