.place {
  position: relative;
  list-style: none;
  margin: 10px;
  grid-area: place;
  &:before {
    content:"";
    position: absolute;
    /*930x23*/
    height: 23px;
    top: -20px;
    right: -10px;
    left: -15px;
    background: url(../assets/images/horizontal_separator.png) repeat-x top left / contain;
    transform: rotateX(180deg);
  }
}
.enemies {
  margin-top: 4vh;
  display: flex;
  flex-flow: row wrap;
}
.enemy {
  position: relative;
  height: 180px;
  width: 124px;
  padding: 28px 21px 19px 13px;
  margin: 0 .25vh 1vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background: url('../assets/images/card.png') no-repeat center / contain;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1;
  text-align: center;
  transition: all 0.16s ease-in-out;
}
.enemy:hover {
  transform: scale(1.05)
}

.enemy:active {
  transition: none;
  transform: scale(0.95)
}
.enemy-name {
  font-size: 0.75em;
}
.enemy-picture {
  font-size: 4rem;
}
.enemy-life {
  position: absolute;
  right: 0%;
  bottom: 35%;
  width: 39px;
  height: 39px;
  mix-blend-mode: darken;
  transform: rotate(-90deg) rotateX(180deg);
}

.life {
  color: #fff;
  margin: 4px 8px 0px 4px;
  border-radius: 2px;
}
.value {
  mix-blend-mode: difference;
}
