.sidebar {
  padding: 20px 40px;
  position: relative;
  grid-area: profile;
  position: sticky;
  height: 100vh;
  top: 0;
  &:before {
    content:"";
    position: absolute;
    /*33*585*/
    width: 33px;
    top: 0;
    bottom: 0;
    right: -10px;
    background: url(../assets/images/vertical_separator.png) repeat-y top right / contain;
  }
}
.profile {
  &-menu {
    width: 196px;
    height: 184px;
    background: url(../assets/images/profile_menu.png) no-repeat center / contain;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    transition: all 0.16s ease-in-out;
    & > a {
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }

  &-quest {
    width: 180px;
    height: 100px;
    background: url(../assets/images/profile_quests.png) no-repeat center / contain;
  }

  &-avatar {
    position: relative;
    width: 200px;
    height: 200px;
    background: url(../assets/images/profile_avatar.png) no-repeat center / contain;
  }
}

.lifeBar {
  position: absolute;
  top: 150px;
  left: 35px;
  right: 53px;
  height: 14px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lifeBar-value {
  mix-blend-mode: difference;
  color: #fff;
  font-size: 0.875em;
  vertical-align: top;
}

// .items {
//   display: flex;
//   flex-flow: row wrap;
//   margin: -0.5rem;
//   .item {
//     position: relative;
//     width: 25%;
//     height: 25%;
//     padding: 0;
//     margin: .5rem;
//     font-size: 0.75em;
//     font-weight: bold;
//     &-length {
//       position: absolute;
//       top: 0;
//       right: 0;
//       padding: 0.125em 0.25em;
//       background-color: #000;
//       color: #fff;
//     }
//   }
// }
