@import 'variables';

.Sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 20px 40px;
  grid-area: profile;

  &::before {
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;
    width: 33px;
    background: url('../assets/images/vertical_separator.png') repeat-y top right / contain;
    content: '';
  }

  &__menu {
    display: grid;
    align-items: center;
    cursor: url('../assets/images/cursor_2.png'), auto;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &__inventory {
    height: 90px;
    background: url('../assets/images/profile_inventory.png') no-repeat center / contain;

    &:hover  {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__potion {
    height: 90px;
    padding: 6px 24px;
    background: url('../assets/images/profile_potion.png') no-repeat center / contain;
    font-size: 0.625em;
    font-weight: bold;

    &:hover  {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__money {
    height: 100px;
    padding: 32px 14px;
    background: url('../assets/images/profile_money.png') no-repeat center / contain;
    font-size: 0.875em;
    font-weight: bold;
  }

  &__settings {
    height: 70px;
    background: url('../assets/images/profile_settings.png') no-repeat center / contain;
  }

  &__quest {
    width: 180px;
    height: 100px;
    background: url('../assets/images/profile_quests.png') no-repeat center / contain;
  }

  &__avatar {
    position: relative;
    width: 200px;
    height: 200px;
    background: url('../assets/images/profile_avatar.png') no-repeat center / contain;
  }

  &__life {
    display: flex;
    position: absolute;
    top: 150px;
    right: 53px;
    left: 35px;
    align-items: center;
    justify-content: center;
    height: 14px;
    border-radius: 14px;
  }

  &__lifeValue {
    color: $white;
    font-size: 0.875em;
    vertical-align: top;
    mix-blend-mode: difference;
  }
}

