@import url('https://fonts.googleapis.com/css?family=Merriweather');


body {
  margin: 0;
  box-sizing: border-box;
  background: #fff;
  color: #222;
  line-height: 1.2;
  font-family: 'Merriweather', serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,*:after,*:before{box-sizing: inherit;}

.navigation {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  .admin-hr {
    margin-left: auto;
  }
  a {
    padding: 0.25em 1rem;
    text-decoration: none;
    font-family: sans-serif;
    color: inherit;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.listAppear-enter-active {
  transition: all .3s ease;
}
.listAppear-leave-active {
  transition: all .2s ease;
}
.listAppear-enter, .listAppear-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform-origin: left;
  transform: scale(0.97);
  opacity: 0;
}
.listAppear-leave-to {
  transform: translateY(-10%);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0.25em 0;
}
.button {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #222;
  margin: 5px;
  background-color: #fff;
  transform: skew(5deg);
  &:hover {
    border-bottom-width: 3px;
    border-top-width: 1px;
    transform: skew(3deg);
  }
  &:active {
    border-top-width: 3px;
    border-bottom-width: 1px;
  }
}
button {
  @extend .button;
  -webkit-appearance: none;
}

.hasTooltip {
  position: relative;
  float: left;
  &:before {
    content: '?';
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #999;
    color: #fff;
    font-weight: 900;
    font-size: 0.5em;
    line-height: 1rem;
  }
  &:after {
    @extend .button;
    content: attr(tooltip);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }
  &:hover:after {
    display: block;
  }
}
