body {
  margin: 0;
  box-sizing: border-box;
  background: #fff;
  color: #222;
  line-height: 1.2;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,*:after,*:before{box-sizing: inherit;}


/* Enter and leave animations can use different */
/* durations and timing functions.              */
.listAppear-enter-active {
  transition: all .3s ease;
}
.listAppear-leave-active {
  transition: all .2s ease;
}
.listAppear-enter, .listAppear-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform-origin: left;
  transform: scale(0.97);
  opacity: 0;
}
.listAppear-leave-to {
  transform: translateY(-10%);
}
