@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  margin: 0;
  box-sizing: border-box;
  background: #fff;
  color: #222;
  line-height: 1.2;
  font-family: 'Merriweather', serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,*:after,*:before{box-sizing: inherit;}


/* Enter and leave animations can use different */
/* durations and timing functions.              */
.listAppear-enter-active {
  transition: all .3s ease;
}
.listAppear-leave-active {
  transition: all .2s ease;
}
.listAppear-enter, .listAppear-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform-origin: left;
  transform: scale(0.97);
  opacity: 0;
}
.listAppear-leave-to {
  transform: translateY(-10%);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0.25em 0;
}
button {
  display: inline-block;
  vertical-align: top;
  -webkit-appearance: none;
  border: 2px solid #222;
  margin: 5px;
  transform: skew(5deg);
}
button:hover {
  border-bottom-width: 3px;
  border-top-width: 1px;
  transform: skew(3deg);
}
button:active {
  border-top-width: 3px;
  border-bottom-width: 1px;
}
