.table {
  position: relative;
  background: url(../assets/images/map.png);
  background-size: cover;
  grid-area: table;
  cursor: url('../assets/images/cursor_2.png'), auto;
}
.cells {
  display: grid;
  height: 100%;
  padding: 4vh 8vh 7.3vh 8.8vh;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(21, 1fr);
  width: 80vh;
  height: 53vh;
  // opacity: 0.5;
}
.cell {
  position: relative;
  display: grid;
  transition: all 0.16s ease-in-out;
}
.player, .reachable {
  // mix-blend-mode: darken;
}
.player:before {
  // content:'';
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  z-index: 1;
  pointer-events: none;
  background: url('../assets/images/cursor.png') no-repeat top / contain;
}
.reachable:before {
  content:'';
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  pointer-events: none;
  background: url('../assets/images/cursor.png') no-repeat top / contain;
}

.reachable {
  transform: scale(0.75);
}
.reachable:hover {
  z-index: 1;
  transform: scale(1);
}
.toggleIso {
  position: absolute;
  top: 0;
  right: 0;
}
/*debug*/
// .unreachable {
//   background: rgba(0,0,0,0.2)
// }

// .forest {
//   background-color: rgba(0, 255, 0, 0.2);
// }
// .city {
//   background-color: rgba(0, 255, 255, 0.2);
// }
// .mountain {
//   border: 1px solid blue;
// }
// .hills {
//   background-color: rgba(155, 155, 0, 0.2);
// }
